

*{
    margin: O;
    box-sizing: border-box;
}

body{
    /* background-color: #a696e3; */
    background-color: #d0c9eb;
}

canvas{
    /* border: 2px solid rgb(105, 11, 212); */
    /* background-image: url(''); */
    box-shadow: #5D3FD3;
}

h1,
p {
    font-family: Ropa sans;
    font-size: 45px; 
    color: #5D3FD3;
    text-align: center;
}

section {
   display: flex;
   justify-content: center;
}
section.game {
   /* border: 2px solid blue;  */
   background-size: cover;
   margin-bottom: 2em;
   position: relative;
}
section.popUp {
   /* border: 2px solid rgb(235, 129, 217); */
   /* background-color: rgba(255, 255, 255, 0.5); */
   background-color: #5D3FD3;
   background-image: url("./images/background.popup.jpg");
   background-size: cover;
   position: absolute;
   top:  85px;
   bottom: 0;
   right: 82px;
   height: 500px;
   width: 1200px;
   border-radius: 30px; 
}
/* .popUpContent {
   margin: auto;
   height: 50%;
   width: 50%;
   border: 2px solid rgb(99, 24, 68);
   background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
} */

.start {
   text-align: center;
   /* display: flex; */
   position: absolute;
   top: 230px;
   left: 550px;

}

section.popUp.hidden {
   display: none;
}

.start{
    height: 50px;
    width: 100px;
    background-color: #ff0082;
    font-weight: bold;
    color: antiquewhite;
}

.start:hover{
    color: purple;
}

.start {

    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6
  }

  100% {
    opacity: 1;
  }
}


