

*{
    margin: O;
    box-sizing: border-box;
}

body{
    background-color: #d0c9eb;
}

canvas{
    box-shadow: #5D3FD3;
}

h1,
p {
    font-family: Ropa sans;
    font-size: 45px; 
    color: #5D3FD3;
    text-align: center;
}

section {
   display: flex;
   justify-content: center;
}
section.game {
   background-size: cover;
   margin-bottom: 2em;
   position: relative;
}
section.popUp {
   background-color: #5D3FD3;
   background-image: url("./images/background.popup.jpg");
   background-size: cover;
   position: absolute;
   top:  85px;
   bottom: 0;
   right: 82px;
   height: 500px;
   width: 1200px;
   border-radius: 30px; 
}

.start {
   text-align: center;
   /* display: flex; */
   position: absolute;
   top: 230px;
   left: 550px;

}

section.popUp.hidden {
   display: none;
}

.start{
    height: 50px;
    width: 100px;
    background-color: #ff0082;
    font-weight: bold;
    color: antiquewhite;
}

.start:hover{
    color: purple;
}

.start {

    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6
  }

  100% {
    opacity: 1;
  }
}

.restart{
     display: none;
     position: absolute;
     top: 350px;
     right: 584px;
     width: 200px;
     height: 50px;
     font-family: Ropa sans;
     font-size: 40px;
     background-color: #C9E0EC;
     color: #330867;
 }

.restart.active{
    display: block;
}